#products {
  padding-top: 120px;
  padding-bottom: 30px;
}

.navbar-search {
  display: flex;
  background-color: #e8e8e8;
  width: 225px;
  padding: 5px 10px 10px;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.navbar-search svg {
  align-self: flex-end;
  margin-bottom: 5px;
  color: #5d6569;
}

.navbar-search .MuiFormControl-root {
  width: 100%;
}
